@import './base.css';

:root {
  --mainColor: rgb(38, 38, 38);
  --mainLinkColor: rgb(233, 233, 233);
  --mainLinkColorHover: rgb(169, 156, 156);
  --transitionDuration: 200ms;
  --buttonFontColor: rgb(205 165 205);
  --buttonColor: #4b0610;
  --buttonColorHover: #6b0815;
}

#app {
  align-items: center;
  max-width: 100vw;
  margin: 0 auto;
  font-weight: normal;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.outerWrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100vw;
  padding: 20px 0px;
}

.innerWrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 15px;
  justify-content: space-between;
  width: 80vw;
}

li {
  list-style-type: none;
}

a {
  color: var(--mainLinkColor);
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  color: var(--mainLinkColorHover);
  transition: var(--transitionDuration);
}

button {
  background-color: var(--buttonColor);
  padding: 10px 20px;
  font-size: 20px;
  color: var(--buttonFontColor);
  font-weight: bold;
  border: 0px;
  cursor: pointer;
  width: fit-content;
  border-radius: 2px;
}

button:hover {
  background-color: var(--buttonColorHover);
  transition: var(--transitionDuration);
}

button a {
  color: var(--buttonFontColor);
  font-weight: bold;
}

button a:hover {
  color: var(--buttonFontColor);
}

input {
  height: 50px;
  padding: 20px;
  width: 100%;
}